@import "./Variable.module";

.container-home-page {
  @include minMaxWidth(100vw);
  @include minMaxHeight(100vh);
  background-color: $base-background-color;
  padding: 3em 5em;

  .content {
    @include minMaxWidth(100%);
    @include minMaxHeight(100%);
    padding: 3em;
    background-color: $base-background-color-white;

    .input {
      width: 27%;
      padding: 1em;
      margin-right: 2em;
      display: inline-block;
      border: 1px solid gray;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
}

